<div class="center-teacher">
    <h3>
        <span>师资队伍简介：</span>
    </h3>

    <div class="row">
        <% data.forEach(function(list){ %>
        <div class="col-xs-6 col-md-3">
            <div class="thumbnail">
                <img src="<%= list.img_src %>" alt="教师图片">

                <div class="caption">
                    <h3>姓名：<%= list.name %></h3>

                    <p>职称：<%= list.job_title %></p>

                    <p>职务：<%= list.position %></p>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
    <div class="clearfix"></div>
</div>