<div class="course-overview">
    <h3>
        <span>课程概况：</span>
    </h3>

    <div class="con-list">
        <p>
            管理学是我院管理类各专业开设的核心专业基础课程，教学目的是使学生了解人类管理思想的探索过程和精华，掌握管理的基本理论、方法和技能，训练学生运用有关知识和方法分析和解决管理实践中的问题的能力。树立现代管理观念和管理精神，培养和提高学生的管理素质，为后续的相关课程的学习打下专业基础。
        </p>

        <p>
            该课程由我院具有多年教学经验和扎实理论功底的教师担任,目前担任该课程的教师中,教授6名,副教授5名、讲师3名，已形成一支力量较强、结构合理、具有创新与协作精神的“学习型”教师团队。
        </p>

        <p>
            管理学从2000年起确定为我院重点建设的课程。
            2000年开始运用多媒体现代教育技术手段进行教学，自制的课件，质量不断提高。同时，建起了试题库。03年增开经营管理案例分析配套课程，结合教学需要汇编了案例集。2004年9月，由蔡茂生、黄秋文任主编并吸收课程组多位成员参加编写的教材《管理学基础》由广东高教出版社出版，从04级开始使用，2011年12月修订出版第二版。同时，许洁虹主编了《管理学教程》面向专科生和成教生使用，也出版了第二版。05年上半年，我们组织编写管理学辅导材料，内部使用。2004年中，自主开发建设了
            “管理学”课程学习网站，经过2008年和2012年先后两次的更新和完善，学习网站资源更加丰富，更加适合教学的需要。
        </p>

        <p>
            在教学过程中，课程教师一直积极进行基于网络资源利用的教学改革试验。试验的教学方法有：情景探究—知识重构、任务驱动、协作学习、角色扮演、案例教学、辩论法等教学方法。此外，还结合“ERP沙盘模拟”比赛，将ERP沙盘模拟演练作为该课程配套的实践教学内容纳入教学计划中，收到很好的效果。2007年，开始进行管理学双语教学试点，使用世界经典的外文原版教材，现在已将双语教学扩大到四个专业班级。
        </p>
    </div>

    <div class="clearfix"></div>
</div>