<div class="introduction">
    <h3>
        <span>中心简介：</span>
    </h3>

    <p>
        重庆大学材料科学与工程学院中心实验室成立于2007年5月，是材料学院下设的二级单位，
        由材料学院各个分析实验室整合而成，是为全校教学和科研工作提供服务的大型仪器共享平台，
        是现代分析测试技术以及仪器功能开发的教学和研究中心，中心同时也为广大的企事业单位提供测试分析服务。
        中心实验室位于重庆大学A区综合实验大楼，建筑面积 1000m2。近年来，结合学校“985”工程平台的建设，
        先后投入近2000万元购置了数套高档的材料分析检测仪器设备。目前，中心实验室拥有大型精密仪器近二十台，
        包括场发射高分辨透射电子显微镜、场发射扫描电子显微镜、转靶X射线衍射仪、 X射线荧光光谱仪、紫外-可见分光光度计
        、傅里叶变换红外光谱仪、激光拉曼光谱仪、色谱-质谱联用仪、综合热分析仪、热模拟试验机等高价值仪器。中心大型仪器的附件配置齐全
        ，仪器技术指标先进，可进行金属、陶瓷、半导体、高分子、生物等材料的微结构、相组成、化学成分分析及力学性能测试等工作。
        中心实验室拥有一批高素质的专业技术人才队伍，现有工作人员24人，其中副高职以上5人。中心有科学、系统的质量保证体系和相应的规章制
        度，保证提供科学、准确的检测数据。全体工作人员注重新的分析测试技术及方法的研究，努力提高分析测试水平、管理水平和服务水平。
    </p>
</div>